{% extends "layout.html" %}

{% block title %}
MNIST
{% endblock %}

{% block content %}
<div class="row">
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="img">
        <input type="submit" id="submit" value="SUBMIT" />
    </form>
</div>

{% if ans == None %}
    画像を入力してください
{% elif ans == "Error" %}
    Error : 正しい画像を読み込んでください
{% else %}
    入力した画像は....{{ ans }}です！
{% endif %}

本日の結果
{% if images %}
  {% for path in images %}
    {% if ".png" in path or ".jpg" in path %}
    <div>
      <img src="{{url_for('static', filename='mnist/'+path)}}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
      この画像の結果：{{ path[0] }}
    </div>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}