{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='image/mnist_top.png')}}">
        </div>
        <div class="card-content">
          <p>MNIST digit recognition using Keras Sequential</p>
        </div>
        <div class="card-action">
          <a href="{{ url_for('mnist') }}">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <!-- <img src="{{url_for('static', filename='image/')}}"> -->
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}